/* ------- Переменные ------ */
:root {
  --title-color: #212121;
  --text-main: #757575;
  --text-footer: rgba(255, 255, 255, 0.6);
  --ico-footer: rgba(255, 255, 255, 0.1);
  --item-on: #2196f3;
  --item-off: #ffffff;
  --section-background: #e5e5e5;
  --section-bg: #2f303a;
  --bt-background: #f5f4fa;
  --head-line: #ececec;
  --portfolio-box: #eeeeee;
  --image-bg: #2f303a;
  --social-ico: #afb1b8;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-main);
  background-color: #ffffff;
}

section {
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* ------- Скрыть H1 ------- */
.title-hiden {
  display: none;
}
/* ------- Работа со ссылками ------- */
.link {
  text-decoration: none;
  color: var(--title-color);
}
.link:hover,
.link:focus {
  color: var(--item-on);
}

/* ------- Обнуление стиля списков ------- */
.list li {
  list-style: none;
}

/* ------- Отображение логотипа ------- */
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-right: 95px;
}
.logo:hover {
  color: var(--title-color);
}
.logo span {
  color: var(--item-on);
}

/* ------- Меню навигации ------- */
.header-list {
  display: flex;
}
.heder-navigation {
  display: flex;
  align-items: center;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navig {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  border-bottom: 1px solid var(--head-line);
}

.navig-item {
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
}

.navig-item:not(:last-child) {
  margin-right: 50px;
}

.navig:hover,
.navig:focus {
  color: var(--item-on);
}
.contacts {
  color: var(--text-main);
}

.header-connect {
  margin-left: auto;
}

.ico-contact {
  margin-right: 10px;
  align-items: center;
}

.contacts:hover,
.contacts:focus > svg {
  fill: var(--item-on);
}

/* ------- Заказ услуг ------- */
.title-hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--item-off);
  margin-bottom: 30px;
}
.bg-hero {
  background: var(--section-bg);
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero_bg.jpg);
  padding-bottom: 200px;
  padding-top: 200px;
  text-align: center;
}
.button-hero {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--item-off);
  background-color: var(--item-on);
  cursor: pointer;
  min-width: 200px;
  min-height: 50px;
  border: 1px solid var(--item-on);
  border-radius: 4px;
}
.hero {
  display: flexbox;
}

/* ------- Ценности ------- */
.sect-values {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}
.values-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.values-box {
  display: flex;
  justify-content: space-between;
  padding-top: 95px;
  padding-bottom: 95px;
}
.values-box .list {
  display: flex;
  justify-content: space-between;
}
.values-box li {
  width: 270px;
  /* height: 100px; */
}
.values-box li:not(:last-child) {
  margin: 0 30px 0 0;
}

.values-head {
  height: 120px;
  background-color: var(--bt-background);
  border-radius: 4px;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.values-ico {
}

/* ------- Заголовки секций ------- */
.title-sections {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}

/* ------- Whay we doing -------- */
.wedoing-section {
  padding-bottom: 95px;
}
.wedoing-box {
  display: flex;
  justify-content: space-between;
}

/* ------- Члены команды ------- */
.title-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.member-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.bg-member {
  background-color: var(--bt-background);
  padding: 95px 0 95px 0;
  margin-bottom: 95px;
}

.member-item {
  /* padding: 0 0 30px 0; */
}

.team-box {
  display: flex;
}
.team-box > li:not(:last-child) {
  margin-right: 30px;
}
.team-box > li {
  background-color: var(--item-off);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-info-box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-box h3 {
  margin-bottom: 10px;
}
.team-social-list {
  display: flex;
  justify-content: center;
}
.team-social-item {
  width: 44px;
  height: 44px;
}
.team-social-link {
  width: 100%;
  height: 100%;
  background-color: var(--item-off);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--item-on);
}

.team-social-link:hover > .team-social-icon {
  fill: var(--item-off);
}

.team-social-link:focus > .team-social-icon {
  fill: var(--item-off);
}

.team-social-item + .team-social-item {
  margin-left: 10px;
}

.team-social-icon {
  fill: var(--social-ico);
}

/* ------- Our clients -------- */
.client-section {
  padding-bottom: 95px;
}
.client-box {
  display: flex;
  justify-content: space-between;
}

.client-item {
  width: 170px;
  height: 92px;
  border: 1px solid var(--social-ico);
  border-radius: 4px;
  padding: 16px 32px;
}

.client-item:hover {
  border-color: var(--item-on);
}
.client-item:focus {
  border-color: var(--item-on);
}

.client-icon {
  fill: var(--social-ico);
}

.client-icon:hover,
.client-icon:focus {
  fill: var(--item-on);
}

/* ------- Портфолио меню ------- */
.filter-portfolio-box {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-portfolio-box ul {
  display: flex;
}
.filter-portfolio-box li:not(:last-child) {
  margin-right: 8px;
}

/* ------- Портфолио ------- */
.portfolio-section {
  padding-top: 95px;
  padding-bottom: 95px;
}

.portfolio-box {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-box li:nth-child(3n) {
  margin-right: 0px;
}

.portfolio-box li {
  /* border: 1px solid var(--portfolio-box); */
  margin: 0 27px 30px 0;
}
.portfolio-box ul {
  margin: 0 -30px -30px 0;
  border: -1px;
  /* border: -1px solid transparent; */
}

.potfolio-frame {
  border: 1px solid var(--portfolio-box);
}

.potfolio-frame:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.portfolio-box .portfolio-text-box {
  padding: 20px 24px;
}

.title-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.text-portfolio {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.bt-portfolio {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--title-color);
  background-color: var(--bt-background);
  border-width: 0;
  padding: 6px 22px 6px 22px;
  border-radius: 4px;
}
.bt-portfolio:hover,
.bt-portfolio:focus {
  color: var(--item-off);
  background-color: var(--item-on);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* ------- Оформление футера ------- */
footer .logo,
footer .logo:hover,
footer .logo:focus {
  color: var(--item-off);
}
.logo-bottom {
  margin-bottom: 20px;
}

.bg-footer {
  background: var(--section-bg);
  padding: 60px 0 60px 0;
  /* display: flex; */
}

.footer-address {
  margin-right: 70px;
}
.contact-box {
  display: flex;
}

.location {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--item-off);
  text-decoration: none;
  font-style: normal;
}
address .link,
address .link:hover,
address .link:focus {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--text-footer);
}
address div {
  margin-bottom: 9px;
}

.social-ico-footer {
  /* display: flex; */
}

.social-ico-footer > h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 0.88;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--item-off);
  margin-bottom: 20px;
  margin-top: 12px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
}

.footer-social-item {
  width: 44px;
  height: 44px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: var(--ico-footer);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--item-on);
}

.footer-social-link:hover,
.footer-social-link:focus > .footer-social-icon {
  fill: var(--item-off);
}

.footer-social-item + .footer-social-item {
  margin-left: 10px;
}

.footer-social-icon {
  fill: var(--item-off);
}
